@use '../helpers' as *;


.card {
  background-color: var(--black-15);
  border-radius: rem(14);
  border: 1px solid var(--black);
  box-shadow: 1px 3px 26px 3px var(--black);

  &__icon{
    height: max-content;

  }

  @include tablet{
    width: 100%;
    max-height: rem(189);
    height: 100%;
    min-height: rem(178);
  }

  &__link {
    text-decoration: none;
    color: var(--white);
    transition-duration: 200ms;

    &:hover{
      border: 1px solid var(--accent-55);
      box-shadow: 6px 8px 40px 15px var(--black);
    }
  }

  &__inner {
    padding: rem(50) rem(52) rem(42) rem(37);
    display: flex;
    flex-direction: column;

    @include tablet{
      padding: rem(30) rem(20) rem(30) rem(21);
      flex-direction: row-reverse;
      justify-content: start;
    }
  }

  &__content {

    &-title {
      margin-block: rem(15);
      color: var(--white);

      @include fluid-text(24, 18);

      @include tablet{
        margin-block: rem(0);
        padding-bottom: rem(8);
        margin-top: rem(10);
      }
    }

    &-text {
      width: 100%;
      max-width: rem(412);
      color: var(--gray-80);

      @include fluid-text(18, 16)
    }
  }


}


.card__soft {
  background-color: var(--black-15);
  border-radius: rem(14);
  border: 1px solid var(--black);
  box-shadow: 1px 3px 26px 3px var(--black);


  &-content {
    padding: rem(41) rem(52) rem(36) rem(37);

    @include tablet{
      padding: rem(22) rem(22) rem(22) rem(22);

    }
  }
}

.soft__content-text{
  @include fluid-text(18, 14);
  color: var(--gray-80)
}
