@use '../helpers' as *;

.footer {
  padding-bottom: rem(165);

  &__inner {
    background-color: var(--black-08);
    padding: rem(80) rem(112) rem(132) rem(80);
    border-radius: rem(14);
    box-shadow: rem(2) rem(3) rem(10.3) rem(0) var(--black);
    display: flex;
    justify-content: space-between;

    @include tablet{
      padding: rem(40) rem(17) rem(46) rem(17);
      display: grid;
      justify-content: space-between;
      row-gap: rem(32);
    }

    &-text{
      @include tablet{
        font-size: rem(24);
      }

    }
  }

  &__society {
    display: flex;
    gap: rem(28);

    @include tablet{
      justify-content: center;
    }

    &-item {
      height: rem(40);

      @include tablet{
        height: rem(35);
      }
    }
  }
}
