@use '../helpers' as *;

.header {
  margin-top: rem(20);



  @include tablet{
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include laptop{
      column-gap: rem(20);
    }

    &-logo {
      color: var(--white);
      text-decoration: none;
      transition-duration: 200ms;
      justify-self: start;

      &:hover{
        color: var(--accent-55);
      }
    }
  }

  &__menu {
  margin-right: rem(162);

    &-list{
      display: flex;
      padding: rem(21) rem(87);
      background-color: var(--black-08);
      border-radius: rem(83);
      box-shadow: rem(2) rem(4) rem(15) rem(7) #000000;

      @include laptop{
        padding: rem(20) rem(50);
      }
    }

    &-item{
      margin: rem(0) rem(31);
      @include laptop{
        margin: rem(0) rem(15);
      }

      &:last-child{
        margin-right: rem(0);
      }
      &:first-child {
        margin-left: rem(0);
      }
    }

    &-link{
      text-decoration: none;
      color: var(--white);
      transition-duration: 200ms;
      padding-inline: rem(20);

      &:hover{
        color: var(--accent-55)
      }
    }
  }
}
