@use '../helpers/index' as *;

.hero{

  &__content{
    height: 100vh;
    overflow-y: hidden;
  }

  &__inner{
    padding-top: rem(224);
    flex-direction: column;

    &-btn{
      margin-bottom: 40px;
    }

    @include flex-center();
    @include laptop{
      padding-top: rem(180);
    }
    @include tablet{
      padding-top: rem(140);
    }
    @include mobile{
      padding-top: rem(95);
    }

    &-socials{
      margin-top: rem(23);

      @include tablet{
        margin-bottom: rem(15);
      }
    }

    &-title{
      display: inline-block;
      @include fluid-text(70, 54);

    }

    &-subtitle{
      color: var(--gray-60);
      @include fluid-text(30, 24);
    }
  }
}

.socials{

  &__list{
    display: flex;
    column-gap: rem(36);

    @include tablet{
      column-gap: rem(22);
    }

    &-item{
      height: rem(36);

      @include tablet{
        height: rem(41);

      }
    }
  }
}